@page
@model Project_.NET.Pages.AddRecipesModel
@{
    ViewData["Title"] = "Dodawanie Przepisu";
}



<div class="text-center">
    <form method="post">
        <small <span asp-validation-for="AddUser_id" class="text-danger"></span> <br /></small>
        <label asp-for="AddUser_id">Uzytkownik</label><br />
        <input asp-for="AddUser_id" /><br />
        <small <span asp-validation-for="AddName" class="text-danger"></span> <br /></small>
        <label asp-for="AddName">Nazwa Dania</label><br />
        <input asp-for="AddName" /><br />
        <small <span asp-validation-for="AddIngs" class="text-danger"></span> <br /></small>
        <label asp-for="AddIngs">Potrzebne Składniki</label><br />
        <input asp-for="AddIngs" /><br />

        <small <span asp-validation-for="AddDesc" class="text-danger"></span></small> <br />
        <label asp-for="AddDesc" >Opis Przygotowania</label><br />
        <input asp-for="AddDesc" /><br />
        <button type="submit" class="btn btn-primary">Zatwierdź</button><br />



    </form> 

</div>