@page
@model Project_.NET.Pages.AllCategoriesModel
@{
    ViewData["Title"] = "Kategorie";
}

@foreach (var item in Model.Categories)
{
<form method="post">
    <button type="submit" class="btn btn-warning" asp-page-handler="Delete">Usuń</button>
    @item.Name
    @Html.Hidden("itemId", item.Name)
    <br />
</form>
}