@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <form method="post">
        <h4>Find receipe</h4>
        <label for="searchReceipe"><input name="Receipe" style="border-radius:3px" /></label>
        <button type="submit" style="border-radius:3px">Search</button>
    </form>
</div>
