@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <form>
        <p>
            Find receipe by typing name or author's e-mail adress
            <input type="text" asp-for="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>

    <div class="col-12">
        @{
            if (TempData.Peek("Message") != null)
            {
                <br />
                <p>@TempData.Peek("Message")</p>
            }
        }
    </div>
</div>
