@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <form>
        <p>
            Find receipe by typing name or author's e-mail adress
            <input type="text" asp-for="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>
</div>
    <table class="table">

        <tbody>
            @foreach (var item in Model.Receipe)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_Id)
                    </td>
                   
                
                </tr>
            }
        </tbody>
    </table>

