@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    @using (Html.BeginForm())
    {
        <div>Model: </div>
        <div>@Html.TextBox("ModelZnajdz")</div>
        <input type="submit" value="Szukaj" />
    }
</body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <form>
            <p>
                Title: <input type="text" asp-for="SearchString" />
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
