@page
@model Project_.NET.Pages.MyFavoritesModel
@{
    ViewData["Title"] = "Ulubione Przepisy";
}
<form method="get">
    <button type="submit" class="btn btn-success" asp-page="/MyFavoriteAutors">Ulubieni autorzy</button>
</form>
<partial name="_Recipe" />