@page
@model Project_.NET.Pages.UserModel
@{
    ViewData["Title"] = "Lista Przepisów";
    Model.GetData = HttpContext.Request.QueryString;
}
@if (Model.Username == null || Model.GetUserByName(Model.Username) == null)
{
<div>
    Nie znaleziono użytkownika @Model.Username .
</div>
}
<h5>Profil użytkownika @Model.Username</h5>
<br />
Dania:
<br />
<partial name="_Recipe" />